@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900&display=swap');



html, body, button {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    padding-right: 5px;
}

.logo img {
    margin-right: 13px;
}

nav {
    display: flex;
    font-size: 15px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

nav ul li {
    display: flex;
    list-style-type: none;
    padding: 30px;
    transition: color 3s ease-in, background-color 3s linear ;
}

.menu ul li:hover {
    background-color: chocolate;
    color: red;
}

.signUpbutton {
    display: flex;
    font-size: 15px;
    padding: 13px 22px 17px 22px;
    background-color: black;
    color: azure;
    border: 0px;
    border-radius: 7px;
    transition: background-color 1s;
}

.signUpbutton:hover {
    background-color: red;
    color: black;
    cursor: pointer;
}

.signUpbutton:active {
    background-color: yellow;
    color: rgb(117, 35, 164);
}

.shopNowbutton {
    display: flex;
    font-size: 15px;
    padding: 10px 20px 15px 20px;
    background-color: black;
    color: azure;
    border: 0px;
    border-radius: 7px;
}

.buttonStyle {
    display: flex;
    justify-content: flex-end;
}

.banner {
    background-color: #F4F6F5;
    height: 500px;
    border-radius: 30px;
    display: flex;
}

.banner-left {
    width: 40%;
    display: flex;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

.banner-right {
    width: 60%;
    display: flex;
    align-items: end;
}

.banner-right img {
    width: 600px;
    height: 450px;
}

.textMain {
    font-size: 50px;
    margin-top: 50px;
}

.textMain p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.banner-right {
    width: 60%;
}

.text {
    font-size: 15px;
    font-weight: 400;
}

.text1 {
    background-color: white;
}

.text2 {
    background-color: #EBD96B;
}

.brands {
    background-color: #EBD96B;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 20px;
}

.brandsimage{
    animation: marquee 15s linear infinite;

}

.brandsimage img {
    padding-left: 50px;
    padding-right: 50px;
}

@keyframes marquee {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

footer {
    background-color: black;

}

.wrapper-footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.left-footer {
    width: 40%;
    color: #F4F6F5;
}

.wrap-icon {
    display: flex;
}

.icon {
    background-color: #EBD96B;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-footer {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.menu-footer {
    color: white;
    display: flex;
    flex-direction: column;
}

.menu-footer a {
    color: #8e8e8e;
    text-decoration: none;
    line-height: 2.5;
}

.calculated {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: darksalmon;
 }